doctype html
html
  head
    meta(charset='utf-8')
    title 'Lightning'
    style.
      h1, p {
      font-family: "Arial";
      }
      div.container {
      width: 100%;
      border: 1px solid gray;
      }
      header, footer {
      padding: 1em;
      color: white;
      background-color: black;
      clear: left;
      text-align: center;
      }
      nav {
      float: left;
      max-width: 130px;
      margin: 0;
      padding: 1em;
      }
      div.article-containter{
      background-color:floralwhite;
      overflow: hidden;
      }
      article {
      margin-left: 0px;
      border-left: 1px solid gray;
      padding: 1em;
      overflow: hidden;
      }
  body
    .container
      header
        h1 #{title}
      nav
        p
          | Select the parameters desired for the proper working of the system according to your needs.
      form#appFormId(name='appForm', action='/settings', method='post')
        .article-containter
          article
            h1 Photoresistor
            |                Light intensity:
            input#lightIntensityId(type='number', min='0', max='1000', step='50', value='0', name='lightIntensity')
          article
            h1 Sound Sensor
            |                Decibels:
            input#decibelsId(type='number', min='0', max='1000', step='50', value='0', name='decibels')
          article
            h1 Time
            |                Starting Hour:
            input#startHourId(type='number', min='0', max='23.5', step='0.5', value='0', name='startHour')
            |                Finishing Hour:
            input#finishHourId(type='number', min='0', max='23.5', step='0.5', value='0', name='finishHour')
            // aca se podria poner que el valor del FH sea por default igual a SH +0.5
          article
            button(type='submit') Submit
      footer
        p Tomas Fernandez Martinez & Nicolas Velazquez
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/javascript/global.js')
