
h1, p {
    font-family: "Arial";
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 130px;
    margin: 0;
    padding: 1em;

}

div.article-containter{
    background-color: floralwhite;
    overflow: hidden;
}

article {
    margin-left: 0px;
    border-left: 1px solid gray;
    padding: 0.3em;
    overflow: hidden;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.StartButton{
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid gray;
    
}

input[type="text"] {
    color:#;
    font: 0.9em/0em Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    width: 35px;
    border: 0px;
}

div.Li-Da{
    margin-bottom: -18px;
    word-spacing: 72px;
    margin-left: 85px;
}
