extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='POST' action='')
    div.form-group
        label(for='name') Parameters:
        input#name.form-control(type='text', placeholder='parameters' name='username')
        input#name.form-control(type='text', placeholder='parameters' name='username')
    button.btn.btn-primary(type='submit') Submit

  button.btn.btn-primary What a cool button!! That does nothing
